In [2]:
# 내장함수 예 : input
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

In [2]:
# List를 이용한 다차원 배열
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]  # 실수 list를 생성

In [2]:
# flVal 3개를 리스트로 구성하여 arVal 다차원 배열을 생성
arVal = [flVal, flVal, flVal]
arVal

In [2]:
# arVal은 다차원 배열이므로, arVal[n] 인덱스 연산을 통해 n차원 배열 값을 출력
arVal[0]

In [2]:
arVal[1]

In [2]:
arVal[1][2]

In [2]:
# 1 차원 값을 변환하여 다른 값을 대입 했을때의 다차원 배열
arVal[0] = 'python'
arVal

In [2]:
arVal[0][2]

In [2]:
 arVal[0] = 'python programming'
arVal

In [2]:
# numpy 패치지를 import 
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

In [2]:
# 배열 각 요소의 합을 출력
arData.sum()

In [2]:
arVal.sum()

In [2]:
print(type(arVal))
print(type(arData))

In [2]:
# 배열에 대한 표준편차 출력
arData.std()

In [2]:
arData * 2

In [2]:
arData ** 2 # 2를 제곱

In [2]:
np.sqrt(arData)

In [2]:
arVal = np.array([arData, arData ** 2])
arVal

In [2]:
arVal.sum(axis=0) # 축(axis)이 0일 경우 세로 축의 합을 출력

In [2]:
# NumPy.array를 사용한 코드
np.array([[0,0,0],[0,0,0]])

In [2]:
# NumPy.zeros를 사용한 코드
arZero = np.zeros((2,3), dtype = 'i') 
arZero

In [2]:
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index=['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

In [2]:
pandas_series[1:]

In [2]:
pandas_series[0]

In [2]:
pandas_series[0][1]